.card{
    margin: 8px;
    box-shadow: inset;
    border-radius: 1px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: double;
}
.card-description {
    /* display: inline-block; */
    font-weight: 300;
    line-height: 22px;
    margin: 10px 0;
  }
  
  .card-read {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 6px;
    margin: 5px 0 20px;
    position: relative;
    text-align: right;
    text-transform: uppercase;
  }
  .main-card--cointainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 500px));
    grid-gap: 20px;
    justify-content: space-around;
  }
  .card-container {
    margin: 15px auto 0;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .card-container img {
    max-width: 100%;
    height: 400px;
  }
  
  .card {
    background-color: #fff;
    padding: 30px;
    position: relative;
    box-shadow: 0 0 5px rgba(75, 75, 75, 0.07);
    z-index: 1;
  }
  
  .card-body {
    display: inline-block;
  }
  
  .card-number {
    margin-top: 15px;
  }
  
  .card-author {
    display: block;
    font-size: 12px;
    letter-spacing: 0.5px;
    margin: 15px 0 0;
    text-transform: uppercase;
  }
  
  .card-title {
    font-family: "Cormorant Garamond", serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 60px;
    margin: 10px 0;
    text-transform: capitalize;
  }
  
  .card-description {
    /* display: inline-block; */
    font-weight: 300;
    line-height: 22px;
    margin: 10px 0;
  }
  
  .card-read {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 6px;
    margin: 5px 0 20px;
    position: relative;
    text-align: right;
    text-transform: uppercase;
  }
  
  .card-read:after {
    background-color: #b8bddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 9px;
    width: 75%;
  }
  
  .card-tag {
    float: right;
    margin: 5px 0 0;
    border: 1px solid #aaa;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .card-tag:hover {
    background: #aaa;
    color: black;
  }
  
  .card-media {
    max-width: 100%;
    height: 80%;
  }
  
  .card-shadow {
    background-color: #fff;
    box-shadow: 0 2px 25px 2px rgba(0, 0, 0, 1), 0 2px 50px 2px rgba(0, 0, 0, 1),
      0 0 100px 3px rgba(0, 0, 0, 0.25);
    height: 1px;
    margin: -1px auto 0;
    width: 80%;
    z-index: -1;
  }
  
  @media (max-width: 998px) {
    .main-card--cointainer {
      display: grid;
      grid-template-columns: repeat(1, minmax(200px, 500px));
      grid-gap: 25px;
      justify-content: space-around;
    }
  }
  .cart-card{
    width:80%;
    margin-left: 10%;
  }
  .card-image{
    width: 300px;
    height: 300px;
  }
  .offcanvas{
     height: 600px;
  }
  ul{
    list-style-type:none ;
    margin:0;
    padding :0;
    overflow: hidden;
    background-color: rgb(227, 241, 241);
  }
  li{
    display: inline;
    float: left;
  }
  .Link{
    display: block;
    padding: 14px 16px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: black;
    font-style:oblique;
    text-decoration: none;


  }
  .Link1{
    display: block;
    padding: 14px 16px;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color:darkslategray;
    font-style:oblique;
    text-decoration: none;
    text-align: center;


  }
  .Link:hover{
    background-color:aliceblue;
    color:rgb(45, 227, 233);
    font-size: larger;
  }
  .Link1:hover{
    color:darkred;
    font-size: large;
  }
  .routerstyle{
    background-color: rgb(204, 236, 236);
  }
  .para{
    background-color:blanchedalmond;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
  }